:root {
  --primary-color: #d06224;
  --secondary-color: #ae431e;
  --tertiary-color: #8a8635;
  --background-color: #eac891;
  --font-color: #e5a0a0;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* --- Typography --- */
h1 {
  color: var(--primary-color);
  font-size: 60px;
}

p {
  color: var(--tertiary-color);
  font-size: 18px;
  line-height: 1.6;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: var(--font-color);
}

/* Optional: Custom style for the "Welcome" message */
.welcome-message {
  color: var(--primary-color);
  font-size: 24px;
  font-weight: bold;
  margin-top: -10px;
}

/* --- Navigation --- */
nav {
  background-color: var(--secondary-color);
  padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;
  font-size: 16px;
}

ul li a {
  color: var(--font-color);
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}

ul li a:hover {
  font-size: 20px;
  text-decoration: none;
}

/* --- Hero Section & Float Setup --- */


#hero-section {
  padding: 20px;
}

#hero-section::after {
  content: "";
  display: table;
  clear: both;
}

#portfolio-intro {
  padding: 5px;
  margin-bottom: 100px;
}

#intro-text p {
  font-size: 22px;
}


img {
  max-width: 100%;
  height: auto;
  max-height: 400px;

  
  float: right;
  width: 40%;
  margin: 0 0 20px 20px;
  border: 2px solid var(--primary-color);
  border-radius: 8px;

}

/* --- Project Grid --- */
#portfolio-projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  height: 100vh;
  background-color: var(--tertiary-color);
  text-align: center;
}

#portfolio-projects h2 {
  color: var(--font-color);
  font-size: 50px;
  margin-bottom: auto;
}

.project,
.project-webdev {
  background-color: var(--secondary-color);
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}



.project ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.project li {
  display: inline-block;
  word-spacing: normal;
  margin-bottom: 0;
  flex: 0 0 auto;
}

.project-webdev {
  transform: translate(0, -300px);
}

.project:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px var(--primary-color);
  transition: all 0.3s ease;
}

.project-webdev:hover {
  transform: translate(0, -300px) scale(1.05);
  box-shadow: 0 0 15px var(--primary-color);
  transition: all 0.3s ease;
}



/* HOLOGRAPHIC CARD EFFECT*/
.holographic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--background-color);
}

.holographic-card {
  width: 600px;
  height: 500px;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  border: var(--tertiary-color) 2px solid;
  transition: all 0.5s ease;
}

.holographic-card h1 {
  color: var(--secondary-color);
  font-size: 2rem;
  position: relative;
  z-index: 2;
}


.holographic-card h1,
.holographic-card h1 a {
  color: var(--font-color);
  text-decoration: none;
  position: relative;
  z-index: 2;
}

.holographic-card::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(0deg,
      transparent,
      transparent 30%,
      --tertiary-color);
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}

.holographic-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px var(--tertiary-color);
}

.holographic-card:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}

input[type="text"],
input[type="email"],
input[type="submit"],
input[type="reset"],
input[type="textarea"],
textarea {
  width: 100%;
  padding: 10px;
  margin: 2px 0 5px 0;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  font-size: 16px;
  background-color: var(--background-color);
}

/* --- Banner Section --- */
#banner {
  background-color: var(--background-color);
  color: var(--font-color);
  text-align: center;
  padding: 40px 20px;
}

#banner h2 {
  font-size: 48px;
  margin-bottom: 20px;
  color: var(--tertiary-color)
}

#banner p {
  font-size: 26px;
  margin-bottom: 10px;
  color: var(--tertiary-color)
}

.banner-button {
  display: inline-block;
  padding: 12px 30px;
  background-color: var(--secondary-color);
  color: var(--font-color);
  font-size: 24px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.banner-button:hover {
  background-color: var(--primary-color);
}

/* Homepage Specific Styles */
#homepage-hero {
  height: 80vh;
  background-color: var(--tertiary-color);
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

#homepage-hero h1 {
  font-size: 64px;
  margin-bottom: 20px;
}

#homepage-hero p {
  font-size: 24px;
  max-width: 800px;
}

/* --- Credentials Section --- */
.credentials-container {
  margin: 10px auto;
  padding: 10px 20px;
  background-color: var(--tertiary-color);
  text-align: center;
}


.credentials h2 {
  color: var(--primary-color);
  margin-top: 0;
}

.credentials ul {
  list-style-type: none;
  padding: 0 10px;
  margin: 10px;

  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  
}

.credentials li {
  color: var(--background-color);
  padding: 10px 15px; 
  margin: 5px 10px;
  width: auto;
}

/* --- About Me Section (Two Columns) --- */
#about-me {
  display: flex;
  /* Enable flexible layout */
  gap: 30px;
  padding: 40px 20px;
  align-items: center;
}

#about-me-content {
  flex-basis: 60%;
  /* Text on the left (60%) */
}

/* Target the figure wrapping the second image */
#about-me figure {
  flex-basis: 40%;
  /* Image on the right (40%) */
  text-align: center;
  margin: 0;
}

#portfolio-image2 {
  width: 70%;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

/*Martini Section */
#martini {
  padding: 40px 20px;
  background-color: var(--tertiary-color);
  color: var(--font-color);
  height: 90vh;
}

#martini h2 {
  font-size: 48px;
  margin-bottom: 20px;
  color: var(--secondary-color);
}

#martini p {
  font-size: 22px;
  margin-bottom: 15px;
  color: var(--secondary-color);
}

/* --- Footer --- */
footer {
  background-color: var(--secondary-color);
  text-align: left;
  padding: 15px;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60vh;
  border-top: rgba(0, 0, 0, 0.2) 2px solid;
}

footer p {
  color: var(--font-color);
  font-size: 16px;
}

footer a {
  color: var(--tertiary-color);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}